<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/images/logo.svg" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <!-- iconfont CSS -->
    <link rel="stylesheet" href="/static/font/iconfont.css">
    <!-- Bootstrap Table Font CSS -->
    <link rel="stylesheet" href="/static/font/fontawesome-free-5.11.2-web/css/all.min.css">
    <!-- Bootstrap Table CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-table/bootstrap-table.min.css">
    <!-- My Style CSS -->
    <link rel="stylesheet" href="/static/css/table-search/table-search.css">

    <title>SAX Visualization-404 Not Found</title>
</head>

<body>
<!-- nav bar -->
<section class="table-search-header">
    <div class="container-fluid h-100 d-flex justify-content-end align-items-center">
        <a class="text-capitalize text-decoration-none ml-3" href="{{ url_for('homepage') }}">
            <i class="iconfont icon-home"></i> home page</a>
        <a class="text-capitalize text-decoration-none ml-3" href="{{ url_for('profile') }}">
            <i class="iconfont icon-user"></i> user profile</a>
        <a class="text-capitalize text-decoration-none ml-3" href="{{ url_for('initialize') }}">
            <i class="iconfont icon-edit"></i> Initialize Parameter</a>
        <a class="text-capitalize text-decoration-none ml-3" href="{{ url_for('train') }}"><i
                class="iconfont icon-plane"></i> SAX-VSM</a>
        <a class="text-capitalize text-decoration-none ml-3" href="{{ url_for('logout') }}">
            <i class="iconfont icon-logout"></i> log out</a>
    </div>
</section>
<section class="container-fluid mt-24">
        <div class="form-group mb-0">
            <div class="alert alert-warning mb-0 mt-3 text-center" role="alert">
                Sorry, page not found!
            </div>
        </div>

</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/bootstrap/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<!-- Bootstrap-Table JS -->
<script src="/static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>


</body>

</html>