<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>SAX Visualization-Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <!-- Font CSS -->
    <link rel="stylesheet" href="/static/font/fontawesome-free-5.11.2-web/css/all.min.css">
    <!-- My Style CSS -->
    <link rel="stylesheet" href="/static/css/login/login.css">

    <style>

        input::-webkit-input-placeholder {
            color: #fff !important;
            opacity: 0.3 !important;
        }
    </style>

</head>

<body>
<article class="my-login">
    <section>
        <a class="btn btn-outline-light btn-block text-capitalize" href="{{ url_for('homepage') }}">
            <i class="fas fa-home"></i> homepage
        </a>
        <form method="POST">
            <div class="form-group row my-4">
                <label for="inputUsername" class="col-sm-3 col-form-label text-capitalize text-white">username</label>
                <div class="col-sm-9">
                    <input type="text" name="username" class="form-control"
                           placeholder="less than 40 characters" id="inputUsername">
                </div>
            </div>
            <div class="form-group row my-4">
                <label for="inputPassword3" class="col-sm-3 col-form-label text-capitalize text-white">password</label>
                <div class="col-sm-9">
                    <input type="password" name="password" class="form-control"
                           placeholder="less than 40 characters" id="inputPassword3">
                </div>
            </div>
            <div class="form-group row mt-5">
                <div class="col-sm-6 mb-3">
                    {#                    <a type="submit" class="btn btn-primary btn-block text-white text-capitalize" >enter</a>#}
                    <input type="submit" class="btn btn-primary btn-block text-white text-capitalize" value="enter">
                </div>
                <div class="col-sm-6 mb-3">
                    <a href="{{ url_for("register") }}"
                       class="btn btn-outline-light btn-block text-capitalize">register</a>
                </div>
            </div>

            <!--nullError Modal -->
            <div class="modal fade" id="nullError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-capitalize" id="exampleModalLabel">ERROR</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Please enter your Username and Password!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--usernameError Modal -->
            <div class="modal fade" id="usernameError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-capitalize" id="exampleModalLabel">ERROR</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Username does not exist. Please re-enter it！
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--passwordError Modal -->
            <div class="modal fade" id="passwordError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-capitalize" id="exampleModalLabel">ERROR</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            The password you entered is incorrect. Please re-enter it！
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</article>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/bootstrap/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script>
    $(function () {
        {% if session['error']=='null' %}
            $('#nullError').modal('show');
        {% elif session['error']=='username' %}
            $('#usernameError').modal('show');
        {% elif session['error']=='password' %}
            $('#passwordError').modal('show');
        {% endif %}
        // $('#myModal').modal('hide');
    })
</script>
</body>

</html>